trigger:
  - master
pool:
  vmImage: "ubuntu-latest"
steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "10.x"
    displayName: "Install Node.js"
  - script: |
      npm ci
      npm run build
      npm run test
    displayName: "npm ci, build, test"
