.uppload-container {
  .active-effect-container {
    flex: 1 0 0;
  }

  .effects-continue button.uppload-button {
    display: inline-block;
    margin: 0 1rem;
  }

  .effects-continue--cancel {
    font: inherit;
    border: none;
    appearance: none;
    background: none;
    padding: 1rem;
    margin-left: 0.25rem;
  }

  footer.effects-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .effects-tabs {
      flex-wrap: wrap;
      display: flex;
    }

    input[type="radio"] {
      position: absolute;
      opacity: 0;
    }

    label {
      display: block;
      padding: 0.5rem 0;
      text-align: center;
      width: 4.5rem;
      font-size: 120%;
      span {
        font-size: 55%;
        display: block;
      }
      svg {
        display: block;
        margin: 0.2rem auto;
        height: 1.25rem;
      }
    }
  }

  .uppload-effect {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .active-effect-container {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > div:first-child {
        flex: 1 0 0;
      }

      .settings {
        text-align: center;
        padding: 1rem 0;

        .value {
          margin-left: 0.5rem;
        }
      }

      input[type="range"] {
        margin: 0 auto;
        width: 75%;
      }
    }
  }
}

.actions {
  text-align: center;
  padding: 0.5rem;
}
