$modalBackgroundZIndex: 10000;
$modalForegroundZIndex: 12000;

.uppload-modal-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(125, 125, 125, 0.25);
  z-index: $modalBackgroundZIndex;
  text-align: right;
}
@media (prefers-color-scheme: dark) {
  .uppload-modal-bg {
    background: rgba(0, 0, 0, 0.5);
  }
}

.uppload-error {
  background-color: #c33;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}

.uppload-modal {
  background-color: #fff;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  width: 720px;
  height: 400px;
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: $modalForegroundZIndex;

  p {
    margin: 0;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  aside {
    background-color: #dfe6e9;
    width: 25%;
    overflow-x: auto;

    nav {
      margin: 0;
      padding: 0;
      list-style: none;

      .uppload-service-name {
        position: relative;

        input[type="radio"] {
          position: absolute;
          opacity: 0;

          &:checked + label {
            background-color: #fff;
            font-weight: bold;
          }

          &:focus + label {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }
        }

        label {
          display: block;
          padding: 0.95rem 1rem;
          line-height: 1;

          svg {
            margin-right: 0.5rem;
            height: 1.25rem;
            display: inline-block;
            margin-top: -0.1rem;
            vertical-align: middle;
          }
        }
      }
    }
  }

  section {
    flex: 1 0 0;
    display: flex;
    height: 400px;
    flex-direction: column;

    footer.effects-nav {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #dfe6e9;

      input[type="radio"] {
        position: absolute;
        opacity: 0;
        &:checked + label {
          background-color: #fff;
        }
      }

      label {
        display: block;
        padding: 0.5rem 0;
        text-align: center;
        width: 4.5rem;
        font-size: 120%;
        span {
          font-size: 55%;
          margin-top: -0.1rem;
          display: block;
        }
      }
    }

    .uppload-effect {
      height: 310px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .active-effect-container {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > div:first-child {
          flex: 1 0 0;
        }

        .settings {
          text-align: center;
          padding: 1rem 0;

          .value {
            margin-left: 0.5rem;
          }
        }

        input[type="range"] {
          margin: 0 auto;
          width: 75%;
        }
      }
    }

    .uppload-service-container {
      flex: 1 0 0;
      padding: 1rem;
      overflow-y: auto;
      box-sizing: border-box;

      footer {
        text-align: center;
        font-size: 90%;
        a {
          color: inherit;
          text-decoration: none;
          opacity: 0.75;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    form {
      text-align: center;
      margin: 2rem 0;
      input,
      button {
        -webkit-appearance: none;
        appearance: none;
        font: inherit;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        font-size: 125%;
        display: block;
        margin: 1rem auto;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
      }
      input {
        width: 75%;
      }
      button {
        background-color: #333;
        color: #fff;
        i {
          margin-right: 0.75rem;
        }
      }
    }
  }
}
@media (prefers-color-scheme: dark) {
  .uppload-modal {
    background: #222;
    color: #fff;
    aside {
      background-color: #444;
      nav .uppload-service-name input[type="radio"]:checked + label {
        background-color: #222;
      }
    }
  }
  .uppload-modal section footer.effects-nav {
    background-color: #333;
  }
  .uppload-modal
    section
    footer.effects-nav
    input[type="radio"]:checked
    + label {
    background-color: #222;
  }
  .uppload-modal section form input {
    background-color: #111;
    color: #fff;
  }
  .uppload-modal aside nav .uppload-service-name label i,
  .uppload-service--default .uppload-services .uppload-service-name i {
    filter: brightness(200%);
  }
}

.uppload-close {
  font: inherit;
  border: none;
  padding: 0;
  line-height: 1;
  vertical-align: top;
  appearance: none;
  background: none;
  margin: 1rem 1.5rem;
  font-size: 200%;
}

.uppload-container {
  .active-effect-container {
    flex: 1 0 0;
  }
  .effects-continue {
    text-align: center;
    button {
      font: inherit;
      background-color: whitesmoke;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 125%;
      margin: 0 0.5rem;
      border-radius: 0.2rem;

      &.effects-continue--upload {
        background-color: #3498db;
        color: #fff;

        i {
          margin-left: 0.75rem;
        }
      }
    }
  }
}
