.uppload-service--default {
  text-align: center;
  p {
    padding: 1rem 0;
    font-size: 150%;
    margin-bottom: -1rem;
  }
  ul {
    margin: 0;
    padding: 2rem;
    list-style: none;
    display: flex;
    li {
      background-color: whitesmoke;
      box-sizing: border-box;
      width: 30%;
      padding: 1.5rem 0;
      border-radius: 0.2rem;
      text-align: center;
      i {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 200%;
      }
    }
  }
}
