.uppload-service--default {
  text-align: center;
  p {
    padding: 0;
    margin: 1rem 0 2rem 0;
    font-size: 150%;
  }
  .uppload-services {
    display: flex;
    flex-wrap: wrap;
    .uppload-service-name {
      box-sizing: border-box;
      width: 22.5%;
      margin: 0 1.25% 2.5% 1.25%;
      button {
        background-color: whitesmoke;
        border: none;
        font: inherit;
        display: block;
        width: 100%;
        padding: 1.5rem 0;
        border-radius: 0.2rem;
        text-align: center;
      }
      img.service-icon {
        height: 2em;
        display: block;
        margin: 0 auto 0.5rem auto;
      }
      i {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 200%;
      }
    }
  }
}

.uppload-service--unsplash {
  .unsplash-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .result {
      width: 32%;
      margin-bottom: 2%;
      button {
        display: block;
        width: 100%;
        cursor: pointer;
        border: none;
        height: 7rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .author {
      font-size: 85%;
      overflow-x: hidden;
      white-space: nowrap;
      display: block;
      line-height: 1;
      text-overflow: ellipsis;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem;
      img {
        vertical-align: middle;
        margin-right: 0.25rem;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 100%;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .uppload-service--default .uppload-services .uppload-service-name button {
    background-color: #444;
    color: #fff;
  }
}
