@import "./modal.scss";
@import "./ui.scss";
@import "./services.scss";
@import "./effects.scss";
@import "./mobile.scss";

/**
 * Initially, the widget will be appended to body but invisible
 */
.uppload-container {
  display: none;
  &.visible {
    display: block;
  }
}
