/**
 * Dark theme
 */

$colorBlack: #000;
$colorWhite: #fff;
$colorLightGray: #222;
$colorDarkGray: #111;

/**
 * All variables
 */

$modalBackground: rgba(125, 125, 125, 0.25);
$modalElementBackground: $colorBlack;
$modalElementForeground: $colorWhite;
$modalElementBoxShadow: 0 5rem 10rem rgba(0, 0, 0, 0.3);

$sidebarNavBackground: $colorDarkGray;
$sidebarNavForeground: $colorWhite;
$sidebarNavActiveBackground: $colorBlack;
$sidebarNavActiveForeground: $colorWhite;
$sidebarNavFocusBoxShadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

$errorBackground: #c33;
$errorForeground: $colorBlack;

$inputBorderColor: rgba(0, 0, 0, 0.3);
$buttonDefaultBackground: #333;
$buttonDefaultForeground: $colorWhite;

$effectsButtonBackground: $colorLightGray;
$effectsButtonForeground: $colorWhite;
$effectsCTAButtonBackground: #3498db;
$effectsCTAButtonForeground: $colorWhite;
$effectsNavBackground: $colorDarkGray;
$effectsNavForeground: $colorWhite;
$effectsNavActiveBackground: $colorBlack;
$effectsNavActiveForeground: $colorWhite;
$effectsNavItemIconColor: $colorWhite;

$HomeNavItemBackground: $colorLightGray;
$HomeNavItemForeground: $colorWhite;

$loaderColor: #333;

@import "./theme.scss";
