.camera-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	.preview {
		flex: 1 0 0;
		overflow-y: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		video {
			margin: 0 auto;
		}
	}
	.bottom-buttons {
		padding: 0.5rem;
		text-align: center;
	}
	#cameraCanvas,
	#cameraError {
		display: none;
	}
	#cameraError,
	#cameraPermission {
		text-align: center;
		font-size: 125%;
		svg {
			margin-bottom: 1rem;
			path {
				fill: #aaa;
			}
		}
	}
}
