.uppload-modal {
	#dragDropElement {
		border: 3px dashed #ddd;
		padding: 5rem 0;
		transition: 0.5s;
		font-size: 125%;
		&.active {
			transform: scale(1.05);
			background-color: whitesmoke;
		}
	}

	#dragDropFileElt {
		display: none !important;
	}
}
