.uppload-modal {
    aside {
        background-color: whitesmoke;
        border-right: 1px solid rgba(0, 0, 0, 0.075);
        nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                svg {
                    margin-right: 0.5rem;
                }
                &.active button {
                    background-color: rgba(0, 0, 0, 0.075)
                }
            }
        }
    }
}

@media (min-width: 860px) {
    .uppload-modal {
        aside {
            width: 200px;
            position: absolute;
            left: 0; top: 0;
            bottom: 0;
            overflow-y: auto;
            nav li button {
                transition: 0.3s;
                font: inherit;
                background: none;
                appearance: none;
                border: none;
                display: block;
                width: 100%;
                text-align: left;
                padding: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.075);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
        section {
            position: absolute;
            right: 0;
            left: 200px;
            top: 0; bottom: 0;
            overflow-y: auto;
        }
    }
}

.uppload-branding {
    font-size: 80%;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    &:hover {
        color: rgba(0, 0, 0, 0.5);
    }
}