.uppload-modal {
    .center-middle {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5rem; right: 5rem;
    }
    
    .primary-button {
        background-color: #00a8ff;
        color: #fff;
        border: none;
        transition: 0.3s;
        font: inherit;
        font-size: 115%;
        padding: 0.75rem 1.25rem;
        border-radius: 0.25rem;
        &:hover {
            background-color: #0097e6;
        }
    }
    
    .uppload-modal {
        p {
            margin-top: 0;
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .mb-full {
        margin-bottom: 1.5rem !important;
    }
    
    #dragDropElement {
        border: 2px dashed #aaa;
        padding: 5rem 0;
    }
}